@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 초기화 */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto,Nanum Gothic,verdana,Dotum,AppleGothic,sans-serif;
    font-size: 12px;
    color: #353535;
    letter-spacing: .1px;
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    height: auto;
    border: 1px solid orange;
    box-sizing: border-box;
}

/* 헤더영역 */
header {
    width: 100%;
    height: auto;
}
header > div {
    width: 100%;
}

/* header - top영역 */
.top {
    width: 100%;
    height: 43px;
    border-bottom: 1px solid rgba(150,150,150,.2);
    box-sizing: border-box;
}
.top_inner {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}

/* 헤더 - topL영역 */
.topL {
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
}
.topL > a {
    line-height: 43px;
    padding: 0 20px;
    color: #4a4a4a;
    font-size: 11px;
    padding-left: 20px;
    

}
.topL > a {
    border-left:  1px solid #e9e9e9;
}
.topL > a:first-child{
    border-left: none;
    padding-left: 0;
}
.topL > div > a {}

/* 헤더 - topC영역 */
.topC {
    display: none;
}

/* 헤더 - topR영역 */
.topR {
    width: 40%;
    height: 43px;
    float: right;
    text-align: right;
}
.topR > ul {
    float: right;
    
}
.topR > ul > li {
    float: left;
    line-height: 43px;
}
.topR > ul a {
    font-size: 11px;
    color: #4a4a4a;
    border-right: 1px solid rgba(150,150,150,.2);
    padding-left: 20px;
    padding-right: 20px;
}
.topR > ul > li:last-child a {
    border-right: none;
    padding: 0;
}
.topR > ul > li:last-child a:first-child {
    padding-left: 20px;
}
.topR > ul > li:first-child:hover > ol {
    display: block;
}
.topR > ul > li > ol {
    display: none;
}



.community > ul {

}
.community > li {
    display: none;
}
.community > li > a:hover {
    display: block;
}

/* 로고영역 */
.logo {
    position: relative;
    width: 1260px;
    height: 100px;
    margin: 0 auto;

}
.logo_logo img {
    height: 60px;
    padding-top: 18px;
}
.logo_logo {
    text-align: center;
}

.logo_search > form {
    position: absolute;
    width: 220px;
    height: 26px;
    top: 50%;
    right: 0;
    margin-top: -20px;
    border-radius: 15px;
    padding: 2px 15px 0 15px;
    background: rgba(40,40,40,.1);
    border: none;
}
.logo_search input {
    width: 190px;
    height: 100%;
    background: none;
    float: left;
    border: none;

}
.logo_search button {
    float: right;
    font-size: 17px;
    background: none;
    color: gray;
    border: none;
}

/* 메뉴영역 */
header > .menu {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(150,150,150,.2);
    border-bottom: 1px solid rgba(150,150,150,.2);
    border: 1px solid red;
    box-sizing: border-box;
}
.menu_inner {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid green;
    box-sizing: border-box;
}

.allMenu {
    display: table;
    width: 50px;
    height: 100%;
    border-left: 1px solid rgba(150,150,150,.2);
    border-right: 1px solid rgba(150,150,150,.2);
}
.all_menu i {
    width: 100%;
    height: 100%;
}
.menu_category {
}
.menu_category a {
    width: 70px;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    color: #2a2a2a;
    line-height: 49px;
    float: left;
}
header > .menu > .menu_inner > .menu_category {}




/* 메인영역 */
main {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid blue;
    box-sizing: border-box;
    overflow: hidden;
}

/* 푸터전체영역 */
footer {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(150,150,150,.2);
}
.footer_bottom {
    width: 1260px;
    height: 400px;
    margin: 0 auto;
}
/* 푸터 각 정보영역 제목 */
.tle {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.tle > span {
    border-left: 2px solid #555;
    padding-left: 6px;
    height: 9px;
    line-height: 8px;
    font-size: 12px;
    color: #555;
    font-weight: 400;
    display: inline-block;
}
/* 푸터 각 정보영역 내용 */
.footer_bottom p {
    font-size: 11px;
    line-height: 18px;
    color: #353535;
    letter-spacing: .1px;
    
}
/* 푸터L */
.footerL {
    width: 500px;
    padding-right: 80px;
    float: left;
    letter-spacing: .1px;
}
.footerL > div {
    margin: 0;
    padding: 0;
    display: block;
}

/* 푸터L_CS CENTER */
.footer_cs {
    float: left;
    width: 48%;
}
.footer_cs .cs_tel {
    font-size: 18px;
    line-height: 1.4;
}

/* 푸터L_BANKING ACCOUNT */
.footer_bank {
    width: 40%;
    float: right;
    margin-left: 11px;
}

/* 푸터L_ANOTHER */
.footer_another {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.footer_another img:nth-child(2) {
    margin-left: 20px;
}

/* 푸터R */
.footerR {
    width: 675px;
    float: right;
}
.footerR > div {
    width: 100%;
}

/* 푸터R_RETURN ADDRESS */
.footer_return {
    width: 53%;
    float: left;
}

/* 푸터R_ABOUT US */
.footer_util {
    width: 35%;
    float: right;
}
.footer_util a {
    line-height:18px;
    font-size: 11px;
}

/* 푸터R_COMPANY INFO */
.footer_add {
    float: left;
    width: 100%;
    display: block;
    margin: 56px 0 5px;
}

/* 푸터_infobanner */
.info_banner {
    width: 100%;
    background: #222;
    margin-top: 40px;
}
.mall_center {
    position: relative;
    width: 1260px;
    height: 100%;
    margin: 0 auto 0;
    padding: 6px 0;
    line-height: 20px;
}
.mall_center img {
    border: none;
    padding-right: 3px;
    padding-top: 2px;
    vertical-align: top;
}
.mall_center a {
    color: #555555;
    font-size: 11px;
}
.copyright {
    position: absolute;
    top: 0;
    right: 10px;
    color: #666666;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}