/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 1px '돋움';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
}

/* 헤더영역 */
header {
    width: 100%;
    height: auto;
    border: 1px solid yellow;
}
header > div {
    width: 100%;
}

/* header - top영역 */
header > .top {
    width: 100%;
    height: 43px;
    border-bottom: 1px solid rgba(150,150,150,.2);
    box-sizing: border-box;
}
header > .top > .top_inner {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}

/* 헤더 - topL영역 */
header > .top > .top_inner > .topL {
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
}
header > .top > .top_inner > .topL > a {
    line-height: 43px;
    padding: 0 20px;
    color: #4a4a4a;
    font-size: 11px;
    padding-left: 20px;
    

}
header > .top > .top_inner > .topL > a {
    border-left:  1px solid #e9e9e9;
}
header > .top > .top_inner > .topL > a:first-child{
    border-left: none;
    padding-left: 0;
}
header > .top > .topL > div > a {}

/* 헤더 - topC영역 */
header > .top > .topC {
    display: none;
}

/* 헤더 - topR영역 */
.topR {
    width: 40%;
    height: 43px;
    float: right;
    text-align: right;
}
.topR > ul {
    float: right;
    
}
.topR > ul > li {
    float: left;
    line-height: 43px;
}
.topR > ul a {
    font-size: 11px;
    color: #4a4a4a;
    border-right: 1px solid rgba(150,150,150,.2);
    padding-left: 20px;
    padding-right: 20px;
}
.topR > ul > li:last-child a {
    border-right: none;
    padding: 0;
}
.topR > ul > li:last-child a:first-child {
    padding-left: 20px;
}
.topR > ul > li:first-child:hover > ol {
    display: block;
}
.topR > ul > li > ol {
    display: none;
}


.community > ul {

}
.community > li {
    display: none;
}
.community > li > a:hover {
    display: block;
}

/* 로고영역 */
.logo {
    position: relative;
    width: 1260px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid green;
    box-sizing: border-box;

}
.logo_logo img {
    height: 60px;
    padding-top: 18px;
}
.logo_logo {
    text-align: center;
}
.logo_search {
    position: absolute;
    width: 300px;
    height: 26px;
    top: 50%;
    right: 0;
    margin-top: -20px;
}
.logo_search input {
    width: 240px;
    height: 26px;
    float: right;
    background: rgba(40,40,40,.1);
    border-radius: 15px;
    border: none;

}

/* 메뉴영역 */
header > .menu {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(150,150,150,.2);
    border-bottom: 1px solid rgba(150,150,150,.2);
    box-sizing: border-box;
}
header > .menu > .menu_inner {
    width: 1260px;
    margin: 0 auto;
}
header > .menu > .menu_inner > .allMenu {}
header > .menu > .menu_inner > .menu_category {}




/* 메인영역 */
main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid blue;
    box-sizing: border-box;
    overflow: hidden;
}

/* 푸터영역 */
footer {
    width: 100%;
    height: 350px;
    border: 1px solid pink;
    box-sizing: border-box;
}